{{#each this}}

    <div class="goods-list" data-id="{{id}}" data-status="{{cstatus}}">
        <div class="foods-disabled" style="display:none;">
            已售完
        </div>
        <div class="goods-img">
            <img src="{{simg}}" alt=""/>
        </div>
        <div class="goods-desc">
            <div class="goods-title">
                {{Cname}}
            </div>
            <div class="goods-intro">
                {{title}}
            </div>
            <div class="goods-sold">
                已售：{{sold}} 份
            </div>
        </div>
        <div class="goods-price" data-money="">
            <div class="new-price">
                <span>￥<span class="price">{{newprice}}</span></span>
            </div>
            <div class="old-price">
                <span>原价{{oldprice}} 元</span>
            </div>
            <!-- <a href="javascript:;" class="cut-goods select-btn hide">-</a>
            <span class="goods-num hide" data-price="{{newprice}}" data-total="0" data-id="{{id}}">0</span> -->
            <a href="javascript:;" class="add-goods select-btn">+</a>
            <!-- <input type="hidden" name="name" value=""> -->
        </div>
    </div>

{{/each}}
