{{#each this}}
<div class="selected-list" data-id="{{id}}" data-money="{{money}}" data-num="{{num}}" data-price="{{price}}" data-name="{{name}}">
  <span>{{name}}</span> &nbsp;&nbsp;&nbsp;<span> X {{num}}</span> <span> ￥{{price}}</span>
</div>
{{/each}}
