{{#each this}}
<section class="rest">
    <p>餐厅名称：{{name}}</p>
    <p>餐厅注册时间：{{time}}</p>
    <p>餐厅创始人：{{founders}}</p>
    <p>餐厅类型：{{type}}</p>
    <p>餐厅简介：{{brief}}</p>
    <p>特色服务：{{feature}}</p>
    <p>图片展示：</p>
</section>
{{/each}}
